.precon-imgWidgetContainer {
	position: relative;
}
.precon-imgWidgetContainerleft {
	width: 200px;
}
.precon-imgWidgetContainerright {
	width: 230px;
}
.precon-imgWidgetImage {
	width: 100%;
}
.precon-imgWidgetTextWrap {
	position: absolute;
	color: white;
	border: 2px solid white;
	height: 87%;
}
.precon-imgWidgetTextWrapleft {
	top: 8px;
	left: 8px;
	width: 180px;
}
.precon-imgWidgetTextWrapright {
	top: 10px;
	left: 8px;
	width: 210px;
}
.precon-imgWidgetText {
	position: absolute;
	bottom: 5px;
	left: 5px;
}
.precon-imgWidgetText h1 {
	font-size: 14px;
	font-weight: normal;
}
.precon-imgWidgetText h2 {
	font-size: 24px;
	font-weight: normal;
}
.precon-imgWidgetContainer a {
	padding: 0 !important;
	border-left: none !important;
	margin: 0 !important;  
}
