.precon-imgWidgetContainer {
	width: 230px;
	position: relative;
}
.precon-imgWidgetImage {
	width: 100%;
}
.precon-imgWidgetTextWrap {
	position: absolute;
	top: 10px;
	left: 10px;
	color: white;
	border: 5px solid white;
	width: 200px;
	height: 84%;
}
.precon-imgWidgetText {
	position: absolute;
	bottom: 5px;
	left: 5px;
}
.precon-imgWidgetText h1 {
	font-size: 14px;
	font-weight: normal;
}
.precon-imgWidgetText h2 {
	font-size: 24px;
	font-weight: normal;
}
.precon-imgWidgetContainer a {
	padding: 0 !important;
	border-left: none !important;
	margin: 0 !important;  
}